body {
  overflow-x: hidden;
}

.logo-hover {
  transition: all 1s ease-in-out;
}

.logo-scale:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(
    to right,
    rgb(179, 220, 237) 0%,
    rgb(41, 184, 229) 50%,
    rgb(105, 146, 162) 100%
  );
}
.header img {
  height: 50px;
}
.image-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/election.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.loader-blue {
  color: #fff;
}
.loader span {
  display: block;
  height: 10px;
  width: 10px;
  margin: 0 0 0 0.5rem;
  background-color: #ccc;
  border-radius: 50%;
  animation: blink 1s linear infinite;
  animation-timing-function: ease-in;
}
.loader-blue span {
  background: #fff;
}
.loader span:nth-child(3) {
  animation-delay: 0.66s;
}
.loader span:nth-child(2) {
  animation-delay: 0.33s;
}
@keyframes blink {
  50% {
    background-color: #000;
    transform: translateY(-50%);
  }
}
@media all and (min-width: 768px) {
  .header img {
    height: 70px;
  }
}
